.productInfoProps-struct{
    display: flex;
    background-color:var(--bgcolor) ;
    margin: 3%;

}
.productInfo-left-container{
 margin: 7% 10px 20px 20px;
    flex:55%;
}
.productInfo-right-container{
margin: 7% 0px 20px 20px;
}



.productInfo-ratings{
    margin: 10px 10px 10px 20px;
    font-size: 1.7rem;
   }

#productInfo-des{
 font-size: 1.4rem;
}


#productInfo-price
{
    margin: 15px 10px 10px 20px;
    font-size: 1.7rem;
}
.productInfo-button{
 
    all: unset;
    cursor: pointer;
    text-align: center;
    width: 13vw;
    height: 3.5vw;
    background-color:#ff6701 ;
    color: black;
    padding: 5px;
    margin: 9% 2% 0px 5%;
    font-size: 0.92rem;
    padding: 0px;
    font-weight: 500;
}
.productInfo-image{
    height: 30vw;
    width: 35vw;

}
#productInfo-mobiles{
    height: 40vw;
}
#productInfo-earphones{
    height: 37vw;
}