.productInfoProps-struct{
    display: flex;
    background-color:var(--bgcolor) ;
    margin: 3%;

}
.productInfo-left-container{
 margin: 10px 20px;
    flex:55%;
    position: fixed;
     
}

.productInfo-right-container{
margin: 7% 0px 20px 40vw;
}

.productInfo-ratings{
    margin: 10px 10px 10px 20px;
    font-size: 1.7rem;
   }

#productInfo-des{
 font-size: 1.4rem;
}


#productInfo-price
{
    margin: 15px 10px 10px 20px;
    font-size: 1.7rem;
}

.productInfo-button{

    all: unset;
    cursor: pointer;
    text-align: center;
    width: 12vw;
    height: 3.5vw;
    background-color:#ff6701 ;
    color: black;
    padding: 51px;
    margin:  9% 20px 7%;
    font-size: 1.2rem;
    padding: 0px;
    font-weight: 500;
    border-radius: 10%;
}
.productInfo-image-laptops{
    height: 30vw;
    width: 35vw;
}
#productInfo-mobiles{
    height: 40vw;
    width: 35vw;
}
#productInfo-earphones{
    height: 37vw;
    width: 35vw;
}

@media (max-width:500px) {
    .productInfoProps-struct{
         display: inline;
         background-color: white;
         margin: 2px 0;
         padding: 2px 0;
         
    }
    .productInfo-left-container{
        position: relative;
        background-color: white; 
        margin: 12px 9px 0 9px ;
        padding: 10px 15px;
       
    }
    .productInfo-right-container{
        margin: 0 9px;
        background-color: white;
        }

        .productInfo-image-laptops{
            height: 65vw;
            width: 85vw;
            margin-left: 0vw;
        }
        #productInfo-mobiles{
            width: 82vw;
            margin-left: 1vw;
            height: 75vw;
        }
        #productInfo-earphones{
            width: 85vw;
            margin-left: 1vw;
            height: 70vw;
        }
        .productInfo-button{
            font-size: 5vw;
            width: 28vw;
            height: 9vw;
            margin: 15px 10px 5px 10px;
            padding: 2px 7px;
        }
        #pinfo-btn{
            margin-left: 3vw;
        }
        #productInfo-des{
            font-size: 1.25rem;
            margin-left: 10px;
           }
        
        #productInfo-price{
        margin: 5px 50px 0px 50vw;
        font-size: 1.6rem;
     }

    
}