.home-container{
    margin: 0 7px 0 30px;
   
}

.main-title{
    text-align: center;
    margin: 15px 0px 20px 0px ;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: capitalize;
}



.product-container{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.product-struct{
    display: inline-block;
    background-color: var(--bgcolor);
    width: 305px;
    height: 340px;
    margin-bottom: 30px;
    cursor: pointer;
}

#product-struct-mobiles{
    
    height: 400px;
}

#product-struct-mobiles .product-image{

    height: 260px;
    width: 300px;
}
#product-struct-earphones{
    
    height: 440px;
}

#product-struct-earphones .product-image{

    height: 300px;
    width: 300px;
}



 .product-image
{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding: 20px 20px 10px 30px;
}
#product-des{
    padding: 5px 10px 0px 24px;
    display: block;
    width: 100%;
    font-family:  sans-serif;
    font-size: 1.1rem;
    color: #212121;
    font-weight: 500;

}
#product-price{
    padding:5px 10px 0px 40px;
    font-family:  Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #212121;
}

@media (max-width:500px) {
    .home-container{
        margin: 0 20px 0 20px;
       
    }
    .main-title{
        font-size: 1.4rem;
    }
    
}