*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color:#922719;
    --bgcolor: #fbfbfb;
    --hovercolor:#2d9acc;
}
body{
    background-color: #efefef;
    
  
}