

#navbar{
    background-color:#165161;
    
     
}
#upper-nav{
    display: flex;
    padding:13px 3vw 10px 5vw;
    justify-content: space-between;
    
}
#lower-nav{
    display: flex;
    padding: 3px 5vw 5px 5vw;
    background-color:#771306;
   
}
.cart{
   padding-left: 60%; 
}
 
.cart a{ 

    cursor: pointer;
    text-decoration: none;
    font-size: 1.8vw;
   
     color: white;
}

.login a{
 font-size: 1.7vw;
 color: white;


}

.login a:hover , .home-purl a:hover{
    color:var(--hovercolor);
    opacity: 1;
   
}
.company-name a{
    font-size: 2.6vw;
    color:yellow;
}

.home-purl a{
color: white;
padding-right: 40px;
font-size: 1.45vw;
}














