#main-cart-component{
    display: grid;
    grid-template-columns: 60% 25% 15%;
}

.cart-product-struct{
    display: flex;
   
}

#cart-product-image{
display: inline-block;
    width: 150px;
    height: 140px;
   margin: 20px 20px 15px 20px;
   
}


#cart-product-des{
    display: inline-block;
    margin: 20px 0px 10px 0px;
    font-size: 1.1rem;
}
#cart-product-price{
    font-size: 1.6rem;
    display: inline;
    margin-left: 19px;
    
}
#cart-del-btn ,#buypage-btn{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color:#ff6701 ;
    display: inline-block;
    color: black;
    padding: 5px 15px;
    height: 25px;
    font-size: 1.2rem;
    border-radius: 7px;
}
#cart-del-btn{
    margin: 63px 5vw 0 0px;
}
#buypage-btn{
    margin: 15px 40px 25px  ;
}

#calc{
    
    margin: 10px 0vw 0px 70vw;
}
.calc-value{
    font-size: 1.6rem;
}
#cart-del-btn:hover,#buypage-btn:hover{
    color:blue;
    opacity: 1;
}
